@use "../../../scss/vars" as *;

.categories_box {
  padding: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.categories_list_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  border-radius: 50px;
  background: $white;
  padding: 8px 14px;
  min-width: 126px;
  border: 1px solid $white;
}

.categories_list_item_logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.categories_list_item:hover {
  border: 1px solid $orange;
}

.list_item_active {
  background: $yellow;
}
